.main
    .footer
        .footer__left
            .footer__logoblock
                img(src="./images/logo.png", alt="")
            .footer__locationblock
                .footer__country
                    span.footer__countrytext РОССИЯ
                .footer__address
                    span.footer__addresstext 344010, г. Ростов-на- Дону, 
                        br
                        | пер. Университетский, 113, офис 6А
            .footer__blockcontact
                .footer__circllink
                    .footer__blockimg.footer__blockimg_r
                        img.img1(src="./images/call-answer.png", alt="")
                    .footer__number
                        span.footer__numbertext1 8 (800) 
                        span.footer__numbertext2 707-23-60
                .footer__circllink
                    .footer__blockimg.footer__blockimg_r
                        img.img2(src="./images/letter.png", alt="")
                    .footer__link
                        a.footer__linktext(href="#") support@appsstudio.ru
            .footer__copyrightblock
                span.footer__copyrighttext Copyright © 2018. ООО “АппсСтудио”. Все права защищены.

        .footer__right
            .footer__linksaveblock
                .footer__linkblock
                        a.footer__aple(href="#") 
                            img.footer__img0(src="./images/i/aple.svg", alt="")
                            .footer__text1
                                span Скачать из 
                            .footer__text2
                                span App Store
                .footer__linkblock
                    a.footer__play(href="#") 
                        img.footer__img1(src="./images/play.png", alt="")
                        img.footer__img2(src="./images/googleplay.png", alt="")
                        .footer__text3
                            span Доступно в
            .footer__linkiconsblock
                a(href="#").footer__blockimg     
                    img.footer__instagram(src="./images/instagram.png", alt="")
                a(href="#").footer__blockimg    
                    img.footer__twitter(src="./images/twitter.png", alt="")
                a(href="#").footer__blockimg    
                    img.footer__fb(src="./images/facebook.png", alt="")
                a(href="#").footer__blockimg     
                    img.footer__g(src="./images/google-plus.png", alt="")
                a(href="#").footer__blockimg     
                    img.footer__you(src="./images/youtube.png", alt="")
                a(href="#").footer__blockimg     
                    img.footer__vk(src="./images/vk.png", alt="") 
        .bg
            img(src="./images/phones.png", alt="")