header.header 
    .main
        .header__content#header
            .header__logo    
                img(src="./images/logo.png", alt="")
            .header__right
                .header__numberblock#number
                    span.header__numbertext1 8 (800) 
                    span.header__numbertext2 707-23-60
                .header__numberblock.hidden#link
                    a(href="./index.html").header__numbertext3 support@appsstudio.ru 
                .header__numberblock.hiddencell    
                    img(src="./images/cell.png", alt="")
                .header__burgerblock#burgerblock  
                    //- img(src="./images/bgr.png", alt="")
                    .header__line1#line1
                    .header__line2#line2
                    .header__line3#line3

