.menu#menu
    a(href="./index.html")  
        span Главная
    a(href="#")
        span Разработка стартап проектов
    a(href="#")
        span Разработка бизнес приложений
    a(href="#")
        span Этапы разработки
    a(href="#")
        span Портфолио
    a(href="#")
        span Почему мы
    a(href="#")
        span О студии
    a(href="#")
        span Блог
    a(href="#")
        span Контакты