.content{
    overflow: hidden;
}
                                    // Титул
.sectiontitle{
    position: relative;
    padding: em(194) em(0) em(263) em(175);

    &__buttonblock{
        margin-top: em(77);
        display: flex;
    }

    &__btnup{
        width: em(76);
        height: em(76);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: em(837);
        left: em(45);
        border: 1px solid #e6e6e6;
        border-radius: 50%;
        background-color: $white;
        box-shadow: em(0) em(7) em(7) em(0) rgba(0, 0, 0, 0.1);
        z-index: 4000;

        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: em(18);
                height: em(24);
            }
        }
    }

    &__btnadjust{
        width: em(76);
        height: em(76);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: em(837);
        right: em(175);
        border: none;
        border-radius: 50%;
        background-color: #4286f5;
        box-shadow: em(0) em(7) em(7) em(0) rgba(0, 0, 0, 0.1);
        z-index: 4000;

        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: em(30);
                height: em(30);
            }
        }
    }

}

.hidden{
    display: none;
}
                                    // Портфолио
.demonstration{
    display: flex;
    flex-wrap: wrap;
    width: 100%;   

.hidden{
    display: none;
}

.demonstration__wrapper_bg1:hover{
    background-color: $white;
    color: $greytext;
    background-size: em(398) em(803);
    padding: em(95) em(14) em(14) em(162);
        .dispnone{
            display: none;
        }
        .demonstration__toptitleblock{
            margin-left: em(3);
        }
        .demonstration__nameblock{
            margin: em(82) 0 em(10) 0;
        }
        .demonstration__bottomtitleblock{
            margin-left: em(3);
            margin-bottom: em(23);
        }
        .demonstration__buttongoblock{
            margin-top: em(60);
        }
        .hidden{
            display: block;
        }
        .visibl{
            display: none;
        }
}

.demonstration__wrapper_bg2:hover{
    background-color: $white;
    color: $greytext;
    padding: em(95) em(14) em(14) em(162);
        .dispnone{
            display: none;
        }
        .demonstration__toptitleblock{
            margin-left: em(3);
        }
        .demonstration__nameblock{
            margin: em(82) 0 em(10) 0;
        }
        .demonstration__bottomtitleblock{
            margin-left: em(3);
            margin-bottom: em(23);
        }
        .demonstration__buttongoblock{
            margin-top: em(60);
        }
        .hidden{
            display: block;
        }
        .visibl{
            display: none;
        }

        .demonstration__bgimg2{
            position: absolute;
            bottom: em(13);
            right: em(14);
            img{
                width: em(404);
                height: em(834);
            }
        }
}

.demonstration__wrapper_bg3:hover{
    background-color: $white;
    padding: em(10);
    color: $greytext;
    background-size: em(404) em(834);
    padding: em(95) em(14) em(14) em(162);
        .dispnone{
            display: none;
        }
        .demonstration__toptitleblock{
            margin-left: em(3);
        }
        .demonstration__nameblock{
            margin: em(82) 0 em(10) 0;
        }
        .demonstration__bottomtitleblock{
            margin-left: em(3);
            margin-bottom: em(23);
        }
        .demonstration__buttongoblock{
            margin-top: em(60);
        }
        .hidden{
            display: block;
        }
        .visibl{
            display: none;
        }
}

.demonstration__wrapper_bg4:hover{
    background-color: $white;
    padding: em(10);
    color: $greytext;
    // background-size: em(401) em(814);
    padding: em(95) em(14) em(14) em(162);
        .dispnone{
            display: none;
        }
        .demonstration__toptitleblock{
            margin-left: em(3);
        }
        .demonstration__nameblock{
            margin: em(82) 0 em(10) 0;
        }
        .demonstration__bottomtitleblock{
            margin-left: em(3);
            margin-bottom: em(23);
        }
        .demonstration__buttongoblock{
            margin-top: em(60);
        }
        .hidden{
            display: block;
        }
        .visibl{
            display: none;
        }
        .demonstration__bgimg4{
            position: absolute;
            bottom: em(13);
            right: em(14);
            img{
                width: em(404);
                height: em(834);
            }
        }
}

.demonstration__wrapper_bg5:hover{
    background-color: $white;
    padding: em(10);
    color: $greytext;
    padding: em(95) em(14) em(14) em(162);
        .dispnone{
            display: none;
        }
        .demonstration__toptitleblock{
            margin-left: em(3);
        }
        .demonstration__nameblock{
            margin: em(82) 0 em(10) 0;
        }
        .demonstration__bottomtitleblock{
            margin-left: em(3);
            margin-bottom: em(23);
        }
        .demonstration__buttongoblock{
            margin-top: em(60);
        }
        .hidden{
            display: block;
        }
        .visibl{
            display: none;
        }

        .demonstration__bgimg5{
            position: absolute;
            top: em(15);
            right: em(17);
            img{
                width: em(401);
                height: em(572);
            }
        }
}

    &__wrapper{
        padding: em(94) em(14) em(14) em(175);
        width: 50%;
        height: em(543);
        color: $white; 
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-position: right em(16) bottom em(14);

        &_bg1{
            // padding: em(94) em(14) em(14) em(175);
            background-color: #ef1359;
            background-image: url(../images/phone1.png);
            background-size: em(376) em(750);
            background-position: right em(16) bottom em(14);
        }

        &_bg2{
            // padding: em(94) em(14) em(14) em(175);
            background-color: #13bbae;
            position: relative;
            overflow: hidden;
            z-index: 100;
            &__nameblock{
                margin: em(5) 0 em(9) 0;
            }
        }

        &_bg3{
            // padding: em(94) em(14) em(14) em(175);
            background-color: #0081e7;
            background-position: right em(18) bottom em(13);
            background-image: url(../images/phone3.png);
            background-size: em(365) em(776);
            z-index: 100;
        }

        &_bg4{
            // padding: em(94) em(14) em(14) em(175);
            background-color: #60c221;
            position: relative;
            // background-image: url(../images/phone4.png);
            // background-position: right em(15) top em(13);
            // background-size: em(369) em(750);
        }

        &_bg5{
            // padding: em(94) em(14) em(14) em(175);
            background-color: black;
            position: relative;
            overflow: hidden;
        }
    }

    &__bgimg2{
        position: absolute;
        bottom: em(13);
        right: em(14);
        img{
            width: em(365);
            height: em(775);
        }
    }

    &__bgimg4{
        position: absolute;
        bottom: em(13);
        right: em(15);
        img{
            width: em(369);
            height: em(750);
        }
    }

    &__bgimg5{
        position: absolute;
        top: em(15);
        right: em(17);
        img{
            width: em(370);
            height: em(531);
        }
    }

    &__wrappersecond{
        background-color: $white;
        position: relative;
        width: 50%;
        background-image: url(../images/30p.png);
        background-repeat: no-repeat;
        background-position: right em(312) top em(150);
        background-size: em(342) em(207);
    }

    &__toptitletext{
        font-size: em(20);
        font-weight: 400;
        line-height: 1;
    }

    &__nameblock{
        margin: em(55) 0 em(9) 0;
        &_mrg{
            margin: em(48) 0 em(9) 0;
        }
    }

    &__nametext{
        font-weight: 900;
        font-size: em(90);
        line-height: 1;
    }

    &__bottomtitleblock{
        width: em(360);
        height: em(50);
        &_mrg{
            margin-bottom: 8px;
        }
        
    }

    &__bottomtitletext{
        font-size: em(24);
        font-weight: 600;
        line-height: 1;
    }

    &__description{
        margin-bottom: em(10);
        line-height: 1;
    }

    &__descriptiontext{
        font-weight: 700;
        line-height: 1;
    }

    &__descriptiontext2{
        font-weight: 400;
        line-height: 1;
    }

    &__buttongoblock{
        width: em(30);
        height: em(22);
        display: flex;
        margin-top: em(64);
        margin-bottom: em(31);
        &_mrg0{
            position: absolute;
            right: em(466);
            bottom: em(61);
            margin-bottom: 0;
            margin-top: 0;
        }
        a{
            width: 100%;
            height: 100%;
            img{
                width: em(30);
                height: em(22);
            }
        }
    }
}
                                    // Статистика
.about{
    padding: em(177) 0 em(141) em(175);
    background-color: #fafafa;

    &__titleblock{
        margin-bottom: em(116);
    }

    &__blockstatistics{
        display: flex;
    }

    &__block{
        width: 22%;
        &_padd1{
            padding-left: em(16);
        }

        &_padd2{
            padding-left: em(4);
        }

        &_padd3{
            padding-left: em(44);
        }
    }

    &__numberblock{
        margin-bottom: em(67);
    }

    &__number1{   
    width: em(62);
    height: em(100);   
    }

    &__number2{   
        width: em(22);
        height: em(100);   
        margin-right: em(21);
    }

    &__number3{   
        width: em(62);
        height: em(100);   
    }

    &__number4{   
        width: em(280);
        height: em(100);   
    }

    &__number5{   
        width: em(68);
        height: em(100);   
    }

    &__number6{   
        width: em(76);
        height: em(100);   
    }

    &__number7{   
        width: em(112);
        height: em(100);   
    }

    &__title{
        width: em(234);
        margin-bottom: em(34);
        &_mrg{
            margin-left: em(30);
        }
    }

    &__titletext{
        font-size: em(28);
        font-weight: 700;
        color: $greytext;
        line-height: 1;
    }

    &__descriptionblock{
        width: em(234);
        &_mrg{
            margin-left: em(29);
        }
    }

    &__descriptiontext{
        font-size: em(20);
        font-weight: 400;
        color: $greytext;
    }
}

                                        // Цикл Разработки
.cycle{
    padding: em(422) 0 em(117) em(175);
    position: relative;

    &__supertitleblock{
        position: absolute;
        top: em(-112);
        left: em(-66);
    }

    &__titleblock{
        margin-bottom: em(105);
    }

    &__blockblocks{
        display: flex;
        flex-wrap: wrap;
    }

    &__block{
        padding-left: em(18);
        width: 22.9%;
        border-left: 1px solid #b8b8b8;
        height: em(241);
        margin-bottom: em(65);
    }

    &__numbertext{
        font-size: em(20);
        color: #acacac;
        line-height: 0px;
    }

    &__icon{
        margin-top: em(81);
    }

    &__icon1{
        width: em(60);
        height: em(61);
    }

    &__icon2{
        width: em(65);
        height: em(60);
    }

    &__icon3{
        width: em(60);
        height: em(60);
    }

    &__icon4{
        width: em(60);
        height: em(58);
    }

    &__icon7{
        width: em(66);
        height: em(60);
    }

    &__descriptionblock{
        margin-top: em(29);
    }

    &__descriptiontext{
        font-size: em(20);
        color: $greytext;
        font-weight: 700; 
        line-height: 1;
    }

}

                                // Концепция 
.concept{
    padding: em(180) em(174) em(179) em(175);
    background-color: #008aff;
    margin-bottom: em(376);

    &__content{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__titleblock{
        margin-bottom: em(171);
        line-height: em(60);
        width: em(430);
    }

    &__right{
        display: flex;
        position: absolute;
        top: em(0);
        right: em(-18);
        z-index: 1000;
    }

    &__conceptblock{
        margin-right: em(50);
        img{
            width: em(430);
            height: em(736);
        }
    }

    &__nameblock{
        margin-left: em(9);
        margin-top: em(-12);
    }

    &__nametext{
        font-size: em(36);
        font-weight: 400;
        color: $white;
        line-height: em(19);
    }

    &__designblock{
        img{
            width: em(430);
            height: em(736);
        }
    }

    &__supertitleblock{
        position: absolute;
        left: em(-78);
    }
}
                                                        // Скидка
.discount{
    padding: em(184) 0 em(177) em(175);
    background-color: #ef1359;

    &__titleblock{
        margin-bottom: em(50);
    }

    &__content{
        margin-left: em(190);
        margin-bottom: em(92);
    }

    &__contenttext{
        font-size: em(210);
        font-weight: 700;
        color: $white;
        span{
            font-family: displayf;
            font-weight: 500;
        }
    }

    .novi{
        display: none;
    }
}
                                           // Бриф
.assessment{
    padding: em(357) 0 em(360) em(175);
    background-image: url(../images/phones.png);
    background-repeat: no-repeat;
    background-size: em(593) em(810);
    background-origin: padding-box;
    background-position: right em(176) top em(186);

    &__titleblock{
        margin-bottom: em(60);
        width: 450px;
    }

    &__manual{
        display: flex;
        flex-direction: column;
        span{
            font-size: em(34);
            font-weight: 400;
            color: $greytext;
        }
    }

    &__blocklinkbuttons{
        display: flex;
        margin-top: em(74);
    }

    &__linkblock{ 
        margin-right: em(19); 
        width: em(240);
        height: em(74);
        background-color: #0e1010;
        border: none;
        border-radius: em(10);
        position: relative;  
    }

    &__img0{
        width: em(40);
        height: em(46);
        position: absolute;
        top: em(11);
        left: em(15);
    }

    &__text1{
        font-size: em(18.5);
        color: $white;
        font-family: myriad;
        font-weight: 400;
        position: absolute;
        top: em(7);
        left: em(62);
    }

    &__text2{
        font-size: em(33);
        color: $white;
        font-family: myriad;
        font-weight: 400;
        position: absolute;
        bottom: em(3);
        left: em(33);
    }

    &__img1{
        position: absolute;
        top: em(16);
        left: em(17);
        width: em(42);
        height: em(44);
    }

    &__img2{
        position: absolute;
        top: em(36);
        left: em(70);
        width: em(148);
        height: em(32);
    }
    
}
                                                                        // Адаптивв

@media screen and (max-width: 1200px) {
    .sectiontitle{                                              // Титул
        padding: em(0) em(51) em(704) em(72);
        &__buttonblock{
            margin-top: em(211);
        }

        &__btnup{
            display: none;
        }

        &__btnadjust{
            right: em(73);
            top: em(1730);
            width: em(150);
            height: em(150);
            svg{
               width: em(53);
               height: em(53);
            }
            
        }
    }
                                               // Портфолио
    .demonstration{
        display: block;
        &__wrapper{
            position: relative;
            width: 100%;
            height: em(950);
            background-position: right em(29) bottom em(30);
            padding: em(166) 0 em(156) em(72);

            &_bg1{
                background-size: em(491) em(984);
            }

            &_bg3{
                background-size: em(492) em(1046);
            }

            // &_bg4{
            //     background-size: em(492) em(966);
            // }

        }

        &__bgimg2{
            bottom: em(29);
            right: em(30);
            img{
                width: em(491);
                height: em(1044);
            }
        }

        &__bgimg4{
            bottom: em(29);
            right: em(30);
            img{
                width: em(492);
                height: em(966);
            }
        }

        &__bgimg5{
            display: none;
        }

        &__bgimg5phone{
            position: absolute;
            bottom: em(29);
            right: em(30);
            img{
                width: em(491);
                height: em(983);
            }
        }

        &__wrappersecond{
            position: relative;
            width: 100%;
            height: em(950);
            background-image: url(../images/30p.png);
            background-repeat: no-repeat;
            background-position: right em(161) top em(184);
            background-size: em(560) em(361);
        }

        &__toptitletext{
            font-size: em(30);
        }

        &__nameblock{
            margin: em(50) 0 em(15) 0;
            &_mrg{
                margin: em(50) 0 em(15) 0;
            }
        }

        &__nametext{
            font-size: em(140);
        }

        &__bottomtitleblock{
            margin-bottom: em(65);
            &_mrg{
                margin-bottom: em(71);
            }
        }

        &__bottomtitleblock{
                &_mrg{
                    width: em(470);
                    height: em(67);
                }
            width: em(470);
            height: em(34);
        }

        &__bottomtitletext{
            font-size: em(36);
            &_mrg{
                margin: 0;
            }
        }

        &__description{
            margin-bottom: em(15);
        }

        &__descriptiontext{
            font-size: em(30);
        }
    
        &__buttongoblock{
            width: em(34);
            height: em(24);
            margin-top: em(57);
            margin-bottom: 0;
            &_mrg0{
                position: absolute;
                right: em(0);
                bottom: em(0);
                margin-bottom: em(185);
                margin-top: 0;
                transform: translateX(-50%);
                left: 50%;
                
            }
            a{
                img{
                    width: em(34);
                    height: em(24);
                }
            }
        }
    }

    .about{                                                 // Статистика
        padding: em(185) 0 em(77) em(72);
        &__titleblock{
            margin-bottom: em(131);
        }

        &__blockstatistics{
            flex-wrap: wrap;
        }

        &__block{
            width: 50%;
            margin-bottom: em(120);
            &_padd1{
                padding-left: em(32);
            }

            &_padd2{
                padding-left: 0;
            }

            &_padd3{
                padding-left: em(32);
            }
        }

        &__numberblock{
            margin-bottom: em(70);
        }

        &__number1{
            width: em(98);
            height: em(158);
        }

        &__number2{
            width: em(34);
            height: em(159);
            margin-right: em(38);
        }

        &__number3{
            width: em(98);
            height: em(157);
        }

        &__number4{
            width: em(421);
            height: em(150);
        }

        &__number5{
            width: em(93);
            height: em(154);
            margin-right: em(19);
        }

        &__number6{
            width: em(92);
            height: em(148);
            margin-right: em(29);
        }

        &__number7{
            width: em(137);
            height: em(147);
        }

        &__title{
            width: em(390);
            margin-bottom: em(31);
            &_mrg{
                margin-left: 0;
            }
        }

        &__titletext{
            font-size: em(60);
        }

        &__descriptionblock{
            width: em(340);
            &_mrg{
                margin-left: 0;
            }
        }

        &__descriptiontext{
            font-size: em(30);
        }
    }

    .cycle{                                             // Цикл Разработки
        padding: em(352) 0 em(85) em(70);
        &__supertitleblock{
            position: absolute;
            top: em(-55);
            left: em(0);
        }
    
        &__titleblock{
            margin-bottom: em(104);
        }
    
        &__block{
            padding-left: em(19);
            width: 33%;
            height: auto;
            margin-bottom: em(100);
        }
    
        &__icon{
            margin-top: em(87);
        }
    
        &__descriptiontext{
            font-size: em(30);
        }
    }

                                    // Концепция 
    .concept{
        padding: em(180) 0 em(463) em(70);
        margin-bottom: em(376);

        &__content{
            flex-direction: column;
        }

        &__titleblock{
            margin-bottom: em(71);
            line-height: em(60);
            width: em(836);
        }

        &__buttonblock{
            position: absolute;
            bottom: em(-257);
        }

        &__right{
            display: flex;
            position: static;
        }

        &__conceptblock{
            margin-right: em(38);
            img{
                width: em(451);
                height: em(802);
            }
        }

        &__nametext{
            font-size: em(36);
        }

        &__designblock{
            img{
                width: em(451);
                height: em(802);
            }
        }

        &__supertitleblock{
            left: -7px;
            bottom: -144px;
        }
    }

    .discount{
        padding: em(184) 0 em(185) em(69);
        background-color: #ef1359;

        &__titleblock{
            margin-bottom: em(43);
        }

        &__content{
            
            margin-left: 0;
            margin-bottom: em(41);
        }

        &__contenttext{
            font-size: em(150);
            span{
                font-family: displayf;
                font-weight: 500;
            }
        }

        .novi{
            display: none;
        }
    }

                                               // Бриф
    .assessment{
        padding: em(250) em(30) em(184) em(69);
        background-size: em(291) em(432);
        background-position: right em(30) top em(252);

        &__titleblock{
            margin-bottom: em(21);
            width: em(654);
        }

        &__manual{
            span{
                font-size: em(30);
            }
        }

        &__blocklinkbuttons{
            display: flex;
            margin-top: em(168);
        }

        &__linkblock{ 
            margin-right: em(25); 
            width: em(338);
            height: em(104);  
            border-radius: em(14);
        }

        &__img0{
            width: em(55);
            height: em(65);
            top: em(17);
            left: em(22);
        }

        &__text1{
            font-size: em(26);
            top: em(8);
            left: em(62);
        }

        &__text2{
            font-size: em(47);
            bottom: em(4);
            left: em(33);
        }

        &__img1{
            top: em(21);
            left: em(24);
            width: em(60);
            height: em(61);
        }

        &__img2{
            top: em(51);
            left: em(99);
            width: em(203);
            height: em(46);
        }        
    }

}

