.title{
    font-size: em(66);
    font-family: proximanova;
    font-weight: 900;
    color: $greytext;
    line-height: 1;
    &_white{
        color: $white;
        line-height: 60%;
    }

    &_whitemini{
        color: $white;
        line-height: 90%;
    }

    &_letter{
        letter-spacing: em(-0.5);
    }

    // &_assessment{
    //     line-height: em(64);
    // }
}

@media screen and (max-width: 1200px) {
    .title{
        font-size: em(80);
    }
}