block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="ie-edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./styles/app.min.css?7")
        script(src='./scripts/app.js?7' defer)
        <link rel="stylesheet" href="./dist/css/swiper.css">
        <script src="./dist/js/swiper.min.js"></script>

        <link rel="stylesheet" href="./dist/css/photoswipe.css">
        <link rel="stylesheet" href="./dist/css/default-skin.css">

        <script src="./dist/js/photoswipe.min.js"></script>
        <script src="./dist/js/photoswipe-ui-default.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        
    
    body
        block content
        //- include common/menu.pug
