.header{
    &__content{
    padding: em(105) em(176) 0;
    display: flex;
    justify-content: space-between;
    }

    &__logo{
        img{
            width: em(89);
            height: em(64);
        }
    }
    
    &__right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__numberblock{
        margin-right: em(60);
        margin-top: em(-12);
    }

    &__burgerblock{
        margin-top: em(5);
    }

    &__numbertext1{
        font-family: proximanova;
        font-size: em(30);
        font-weight: em(300);
        color: $greytext;
    }

    &__numbertext2{
        font-family: proximanova;
        font-size: em(30);
        color: $greytext;
    }

    &__numbertext3{
        font-family: proximanova;
        font-size: em(30);
        text-decoration: none;
        color: $greytext;
    }

    &__line1, &__line2, &__line3{
        width: em(76);
        height: em(7);
        border: none;
        border-radius: em(4);
        background-color: $greytext;
        margin-bottom: em(17);  
    }
}

.headbgr{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: em(188);
    padding-bottom: em(5);
    background-color: $white;
}

.line-hidden{
    visibility: hidden;
    transform: skewY(20%);
}

.line1-transform{
    transform: rotate(45deg);
    margin-bottom: em(-30);
}

.line3-transform{
    transform: rotate(-45deg);
}

.hiddencell {
    display: none;
}

@media screen and (max-width: 1200px){
    .header{
        &__content{
        padding: em(99) em(73) em(378) em(71);
        display: flex;
        justify-content: space-between;
        }

        &__logo{
            img{
                width: em(99);
                height: em(71);
            }
        }

        &__numberblock{
            display: none;
            margin-right: em(148);
            margin-top: 0;
        }

        .hiddencell {
            display: block;
            img{
                width: em(70);
                height: em(71);
            }
        }

        &__burgerblock{
            margin-top: 0;
        }

        &__line1, &__line2, &__line3{
            width: em(99);
            height: em(10);
            border: none;
            border-radius: em(5);
            background-color: $greytext;
            margin-bottom: em(20);  
        }

        &__line3{
            margin-bottom: 0;
        }
    }
}