.menu{
    height: 85%;
    width: 100%;
    padding: em(40) 0 0 em(177);
    display: none;
    flex-direction: column;
    position: fixed;
    top: em(185.8);
    z-index: 3000;
    background-color: $white;
    a{
        text-decoration: none;
        height: 38px;
        display: flex;
        align-items: center;
        margin-bottom: em(30);
        span{
            font-size: em(52);
            font-weight: 900;
            color: $greytext;
        }

        span:hover{
            color: #ef1359;
        }
    }
}

.menubgr{
    display: flex;
}